.divider-text {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.form-group {
  width: 100%;
}

.btn-github {
  background-color: #171515;
  color: #fff;
}
