<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}" > </script>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/headers.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/base.css')}}" rel="stylesheet">

    <title>미니프로젝트::</title>
    {% block svg %}
    {% endblock %}

    {% block style %}
    {% endblock %}
  </head>
  <body>
    <!-- navigation -->
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="/board" class="nav-link px-2 text-white">Board</a></li>
            <li><a href="/docs" class="nav-link px-2 text-white">Docs</a></li>
            <li><a href="/faqs" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
            <a  role="button" class="btn btn-outline-light me-2" href="/login">로그인</a>
            <a  role="button" class="btn btn-warning" href="/join">회원가입</a>
          </div>
        </div>
      </div>
    </header>
    
    <!-- main page -->
    {% block body %}
    {% endblock %}
    


    <!-- footer -->
    <div class="container">
      <footer class="container-fluid fixed-bottom py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/board" class="nav-link px-2 text-muted">Board</a></li>
          <li class="nav-item"><a href="/docs" class="nav-link px-2 text-muted">Docs</a></li>
          <li class="nav-item"><a href="/faqs" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
      </footer>
    </div>

    <!-- script -->
  {% block script %}
  {% endblock %}
  </body>
</html>